---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: {{ hub_api_service_name }}
    app.kubernetes.io/component: {{ hub_api_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
  name: {{ hub_api_configmap_name }}
  namespace: {{ app_namespace }}
data: {}
