---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ hub_api_bucket_volume_claim_name }}
  namespace: {{ app_namespace }}
  labels:
    app.kubernetes.io/name: {{ hub_api_service_name }}
    app.kubernetes.io/component: {{ hub_api_component_name }}
    app.kubernetes.io/part-of: {{ app_name }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ hub_api_bucket_volume_size }}
